# Clé API Windy Webcams (v3)
VITE_WINDY_API_KEY=7TIkAKeVqJgF7IqKJTASuerVdq31Gs3x

# Clé API Google Cloud pour Places API (New)
# Obtenez votre clé sur: https://console.cloud.google.com/google/maps-apis/credentials
GOOGLE_PLACES_API_KEY=votre_cle_api_google_ici

# Jeton API Météo-France (Données Publiques BRA / DPBRA)
# Obtenez votre clé sur: https://portail-api.meteofrance.fr/
VITE_METEOFRANCE_API_KEY=votre_jeton_meteofrance_ici
